body {
  font-family: 'Tajawal', sans-serif;
  text-align: center;
  direction: rtl;
  margin: 0;
  background-color: #f0f0f0; /* Light background color */
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}