/* styles/Dashboard.css */

.dashboard-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Arrange children vertically */
    align-items: center; /* Center horizontally */
    justify-content: space-evenly; /* Align items to the top */
    flex-wrap: wrap;
    padding-top: 5vh;
    
}

.welcome{
    background-color: #fff;
    padding: 40px;
    border-radius: 40px;
    margin-top: 40px;
   
}
.welcome p{
    font-size: 38px;
}

.transaction-buttons {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between buttons */
    width: 100%; /* Full width to center the grid */
    max-width: 600px; /* Maximum width for the grid */   
    margin-top: 40px;
    
}


.transaction-input {
    width: 150px; /* Width of the button */
    height: 150px; /* Height of the button */
    background-color: forestgreen; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for centering text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 24px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.transaction-input:hover {
    background-color: darkslategray; /* Darker blue on hover */
}

.transaction-output {
    width: 150px; /* Width of the button */
    height: 150px; /* Height of the button */
    background-color:darkred; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for centering text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 24px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.transaction-output:hover {
    background-color: darkslategray; /* Darker blue on hover */
}


.transaction-order{
    width: 150px; /* Width of the button */
    height: 150px; /* Height of the button */
    background-color:darkgoldenrod; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for centering text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 24px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */

}

.transaction-order:hover {
    background-color: darkslategray; /* Darker blue on hover */
}
