/* General styles */
.input-transaction {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.input-transaction-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-transaction-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-transaction-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.input-transaction-button:hover {
  background-color: #0056b3;
}

.input-transaction-error {
  color: red;
  margin-top: 10px;
}

.input-transaction-loading-message, 
.input-transaction-no-data-message {
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}

.input-transaction-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.input-transaction-table th, .input-transaction-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.input-transaction-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.input-transaction-page-button {
  padding: 8px 12px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.input-transaction-page-button.active {
  background-color: #007BFF;
  color: white;
}

.input-transaction-all-transactions-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-transaction-all-transactions-button:hover {
  background-color: #218838;
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
  .input-transaction-form {
    flex-direction: column;
    gap: 10px;
  }

  .input-transaction-button, 
  .input-transaction-all-transactions-button {
    width: 100%;
    font-size: 16px;
  }

  .input-transaction-table th, 
  .input-transaction-table td {
    font-size: 14px;
    padding: 8px;
  }
}
