/* General styles */
.revenue-reports-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Filters Section */
.revnueFilters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.revnueFilters label {
    font-size: 1rem;
    color: #333;
    padding-top: 9px;
}

.revnueFilters input,
.revnueFilters select {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 150px;
}

.revenue-reports-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.revenue-reports-table th,
.revenue-reports-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.revenue-reports-table th {
    background-color: #343a40;
    color: #fff;
}

.revenue-reports-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.revenue-reports-green-text {
    color: green;
}

.revenue-reports-red-text {
    color: red;
}

.revenue-reports-total-profit {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.revenue-reports-button {
    background-color: #007bff;
    margin-top: 20px;
}


.revenue-reports-button:hover {
    background-color: #0056b3;
}

.revenue-reports-error-message {
    color: red;
    text-align: center;
    margin: 20px 0;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
    .revenue-reports-container {
        padding: 30px;
    }

    .revnueFilters {
        flex-direction: column;
        align-items: center;
    }

    .revenue-reports-table {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .revenue-reports-container {
        padding: 15px;
    }

    .revenue-reports-table th,
    .revenue-reports-table td {
        padding: 8px;
    }

    .revenue-reports-button {
        width: 100%;
    }
}
