/* Welcome.css */

.welcome-container {
    display: flex;
    background-color: #343a40;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    height: 100vh; /* Full viewport height */
    color: #333; /* Dark text color */
    text-align: center; /* Center the text */
    font-family: 'Arial', sans-serif; /* Font family */
    margin: 0;
    padding: 0;
}

.welcome-container img {
    width: 600px; /* Set a fixed width for the logo */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive styling for tablets (768px and smaller) */
@media (max-width: 768px) {
    .welcome-container img {
        width: 80%; /* Adjust the width to a percentage of the viewport */
    }
}

/* Responsive styling for mobile phones (480px and smaller) */
@media (max-width: 480px) {
    .welcome-container img {
        width: 90%; /* Further adjust the width for smaller screens */
    }
}
